.add {
    background-color: #2ca02c !important;
    color: white;
}

.add:hover {
    background-color: white !important;
    color: #2ca02c !important;
    border-color: #2ca02c !important;
}

.spacer {
    flex: 1 1 auto;
}

h1 {
    color: #2ca02c;
}

th {
    background: #0d6dfb !important;
    color: whitesmoke !important;
}
